.container {
  display: flex;
  background-color: green;
}

.inner {
  position: relative;
  flex:2;
}

.innerinner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.elementHello {
  background: green;
}
